<div class="row">
    <div class="col">
        <img src="" alt="" class="img-fluid" />
    </div>
</div>
<div class="row">
    <div class="col">
        <h1>Recipe name</h1>
    </div>
</div>
<div class="row">
    <div class="col">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Manage Recipe</button>
            <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="#">Add to shopping list</a></li>
                <li class="dropdown-item"><a href="#">Edit Recipe</a></li>
                <li class="dropdown-item"><a href="#">Delete Recipe</a></li>
            </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        Description
    </div>
</div>
<div class="row">
    <div class="col">
        Ingredients
    </div>
</div>